{% extends 'base.html.twig' %}
{% form_theme formEmail 'bootstrap_4_layout.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="w-25 mx-auto">
    {{ form_start(formEmail) }}
        {{ form_row(formEmail.email, { 'label': 'Votre adresse email', 'attr' : {'placeholder': 'Email ...'}}) }}
    <button type="submit" class="btn btn-success">Inscription ! </button>
    {{ form_end(formEmail)}}
    </div>
{% endblock %}