{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    
    {{ form_start(formEmail) }}
        {{ form_row(formEmail.email, { 'label': 'Votre adresse email', 'attr' : {'placeholder': 'Email ...'}}) }}
    <button type="submit" class="btn btn-success">Inscription ! </button>
    {{ form_end(formEmail)}}
{% endblock %}