{% extends 'base.html.twig' %}
{% block body %}
    <h1>Note tes perfs ici</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque deserunt est at consectetur nam tenetur
                , voluptates animi nisi accusamus culpa corporis eaque ratione. Nulla assumenda dolores rerum vitae quas quos.</p>
{% endblock %}
